.seacrh{
    &__list{
        display: flex;
        gap: 35px;
        align-items: center;
        flex-wrap: wrap;
        &_filterlike{
            display: flex;
            gap: 5px;
            align-items: center;
            justify-content: center;
        }
        a{
            margin-bottom: 20px;
            display: block;
            text-decoration: 0px;
            color: #000000;
            text-decoration: underline;
        }
        a.seacrh_answers{
            position: relative;
            text-decoration: underline;
            &::before{
                content: '';
                position: absolute;
                width: 20px;
                height: 20px;
                right: -25px;
            }
            &.active{
                &[data-sort="ASC"]{ 
                    color: #3995b6;
                    &::before{
                    background: url(/img/icons/za.png) !important;
                    background-size: contain !important;
                    background-repeat: no-repeat !important;
                    background-position: center !important;
                    }
                }
                &[data-sort="DESC"]{
                    color: #3995b6;
                    &::before{
                        background: url(/img/icons/az.png) !important;
                        background-size: contain !important;
                        background-repeat: no-repeat !important;
                        background-position: center !important;
                    } 
                }
            }
            
        }
        

    }
}
.answers_post{
    height: 550px;
    overflow: auto;
    padding-right: 15px;
    &::-webkit-scrollbar {
        width: 10px;
      }
      
      &::-webkit-scrollbar-track {
        background-color: #f9f9fd;
        border-radius: 10px;
      }
      
      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: linear-gradient(180deg, #00c6fb, #005bea);
      }
    &__list{

        .winner{
            p.title{
                text-align: center;
                margin-bottom: 20px !important;
            }
            .title_info{
                position: relative;
                &::after{
                    content: '';
                    left: 0px;
                    width: 50px;
                    height: 50px;
                    background: url(/icons/trophy.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                p.title{
                    margin-bottom: 0px !important;
                }
            }
        }
        .my_answers{
            background: #c2caff !important;
        }
        &_element{
            background: #fff;
            padding: 2em;
            border-radius: 10px;
            margin-bottom: 15px;
            p.title{
                font-size: 22px;
                font-weight: 400;
                margin-bottom: 0px !important;
            }
            .title_info{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                gap: 10px;
                img{
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    border-radius: 50px;
                }
                margin-bottom: 1rem;
            }
            .answers_post__list_element_text_info{
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                align-items: center;
            }
            p.text{
                max-width: 1400px;
                font-size: 18px;
                overflow: hidden;
                word-wrap: break-word;
            }
            a.opentext{
                color: rgb(105, 111, 218);
                text-decoration: underline;
                cursor: pointer;
                margin-bottom: 15px;
                display: block;
            }
            a.color_view{
                color: #E63244 !important;
            }
            a.closetext{
                display: none;
                color: rgb(105, 111, 218);
                text-decoration: underline;
                cursor: pointer;
                margin-bottom: 15px;
            }
            .user_block_like{
                display: flex;
                gap: 10px;
                flex-wrap: wrap;
                align-items: center;
            }
            .answers_post__list_element_text_price_full{
                display: flex;
                flex-wrap: wrap;
                gap: 15px;
                align-items: center;
                p.views{
                    position: relative;
                    padding-left: 25px;
                    &::before{
                        position: absolute;
                        content: '';
                        background: url(/icons/visibility.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        width: 20px;
                        height: 20px;
                        left: 0px;
                    }
                }
                p.like_answer{
                    position: relative;
                    padding-left: 25px;
                    button.active{
                        background: url(/icons/like_before.png) !important;
                    }
                    button.btn_like_answer{
                        position: absolute;
                        background: url(/icons/like.png);
                        background-size: contain !important;
                        background-repeat: no-repeat !important;
                        background-position: center !important;
                        width: 20px;
                        height: 20px;
                        left: 0px;
                        border: none !important;
                        border-radius: 0px !important;
                        box-shadow: 0px 0px 0px !important;
                        transition: all 0.2s ease-in-out;
                    }
                    .btn_like_view{
                        background: none;
                        border: none !important;
                        border-radius: 0px !important;
                        box-shadow: 0px 0px 0px !important;
                        font-weight: 300;
                    }
                    button.true{
                        pointer-events: none !important;
                    }
                }
                p.dislike_answer{
                    position: relative;
                    padding-left: 25px;
                    button.active{
                        background: url(/icons/dislike_before.png) !important;
                    }
                    button.btn_dislike_answer{
                        position: absolute;
                        background: url(/icons/dislike.png);
                        background-size: contain !important;
                        background-repeat: no-repeat !important;
                        background-position: center !important;
                        width: 20px;
                        height: 20px;
                        left: 0px;
                        border: none !important;
                        border-radius: 0px !important;
                        box-shadow: 0px 0px 0px !important;
                        transition: all 0.2s ease-in-out;
                    }
                    button.btn_dislike_view{
                        background: none;
                        border: none !important;
                        border-radius: 0px !important;
                        box-shadow: 0px 0px 0px !important;
                        font-weight: 300;
                    }
                    button.true{
                        pointer-events: none !important;
                    }
                }
                p.complaints{
                    a{
                        text-decoration: none;
                        transition: all 0.3s ease-in-out;
                        &:hover{
                            color: rgba(238, 61, 61, 0.96);
                        }
                    }
                }
            }
        }
    }
}