.questions{
    .questions__filter{
        padding: 2em;
        border-radius: 10px;
       
        .questions__filter_form__list{
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
            .questions__filter_form__list_element{
                display: flex;
                align-items: center;
                padding: 0px 2em;
                .sort{
                    padding-left: 5px;
                    cursor:pointer;
                    &.active,
                    &:HOVER{
                        img{
                            background-color:#57a4ff;
                            border-radius:5px;
                        }
                    }
                    img{
                        height: 30px;
                    }
                }
                .questions__filter_form__list_element_to{
                    padding: 0 0.5em;

                }
                a.btn_filter{
                    cursor:pointer;
                    color: #fff;
                    padding: 5px 25px;
                    background: #116edd;
                    border-radius: 10px;
                    text-decoration: none;
                    transition: all .5s ease-in-out;
                    border:none;
                    font-family: "Roboto";
                    font-size: 16px;
                    margin-right: 15px;
                }
                a.btn_filter.reset{
                    display: none;
                }
            }
        }
    }
}

@media (max-width:900px){
    .questions .questions__filter .questions__filter_form__list{
        flex-wrap: wrap !important;
    }
    .questions .questions__filter .questions__filter_form__list .questions__filter_form__list_element{
        display: block !important;
        text-align: center;
        margin-bottom: 15px;
    }
}

@media (max-width:1350px) {
    .questions .questions__filter .questions__filter_form__list{
        flex-wrap: wrap !important;
    }
}