.create{
    .create-form{
        padding: 2em;
        .form-group{
            margin-top: 40px;
            .btn{
                color: #fff;
                padding: 15px 25px;
                background: #3f3fd9;
                border-radius: 10px;
                text-decoration: none;
                transition: all .5s ease-in-out;
                border: none;
                &:hover{
                    background: #5f5fce;
                }
            }
        }
    }
}