.questions{
    padding: 2em;
    .questions__list{
        padding: 2em;
        .questions__list__element{
            padding: 2em;
            border-radius:10px;
            background:#fff;
        }
    }
    .questions_menu{
        .questions_menu__buttons{

        }
    }   
}