.question_back__btn{
    color: #f00;
    padding: 5px 0px 0px 0px;
    border-radius: 10px;
    text-decoration: none;
    transition: all .5s ease-in-out;
    position: absolute;
    left: 4em;
    a{
        color: #f00;
    }
}
@media(max-width:900px){
    .question_back__btn{
        left: 2em;
        top:-2em;
    }

}
.questions{
    padding: 0px 2em !important;
    .questions__list{
        padding: 2em;
        .questions__list__element{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            padding: 2em;
            border-radius:10px;
            background:#fff;
            margin-bottom: 30px;
            .questions__list_element_text{
                width:100%;
                word-wrap: break-word;
                p.title{
                    font-size: 28px;
                    font-weight: 400;
                }
                p.text{
                    font-size: 18px;
                    max-width: 1400px;
                    width: 100%;
                }
            }
            .questions__list_element_text_price{
                display: flex;
                flex-wrap: wrap;
                gap: 15px;
                align-items: center;
                &_favourites{
                    button{
                        width: 27px;
                        height: 27px;
                        background-size: contain !important;
                        background-position: center !important;
                        background-repeat: no-repeat !important;
                        border: none !important;
                        box-shadow: none !important;
                        border-radius: 0px !important;
                        transition: all 0.5s ease-in-out;
                    }
                }
                .avatar_owner{
                    background-size: cover !important;
                    background-repeat: no-repeat !important;
                    background-position: center !important;
                    width: 50px;
                    height: 50px;
                    border-radius: 50px;
                }
                p{
                    margin: 0px !important;
                }
                p.price{
                    position: relative;
                    padding-left: 20px;
                    &::before{
                        position: absolute;
                        content: '';
                        background: url(/icons/t.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        width: 20px;
                        height: 20px;
                        left: 0px;
                    }
                }
                p.closed_text{
                    color: #3995b6;
                    position: relative;
                    padding-left: 25px;
                    &::before{
                        position: absolute;
                        content: '';
                        background: url(/icons/time_close.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        width: 20px;
                        height: 20px;
                        left: 0px;
                    }
                }
                p.publich_text{
                    color: #43a94f;
                    position: relative;
                    padding-left: 25px;
                    &::before{
                        position: absolute;
                        content: '';
                        background: url(/icons/accept.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        width: 20px;
                        height: 20px;
                        left: 0px;
                    }
                }
                p.open_text{
                    color: #3995b6;
                    position: relative;
                    padding-left: 25px;
                    &::before{
                        position: absolute;
                        content: '';
                        background: url(/icons/clock.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        width: 20px;
                        height: 20px;
                        left: 0px;
                    }
                }
                p.voting_text{
                    color: #3995b6;
                    position: relative;
                    padding-left: 25px;
                    &::before{
                        position: absolute;
                        content: '';
                        background: url(/icons/time_voiting.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        width: 20px;
                        height: 20px;
                        left: 0px;
                    }
                }
                p.status_time{
                    color: #3995b6;
                    position: relative;
                    padding-left: 25px;
                    &::before{
                        position: absolute;
                        content: '';
                        background: url(/icons/deadline.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        width: 20px;
                        height: 20px;
                        left: 0px;
                    }
                }
                p.moderation_text{
                    color: #3995b6;
                    position: relative;
                    padding-left: 25px;
                    &::before{
                        position: absolute;
                        content: '';
                        background: url(/icons/clock.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        width: 20px;
                        height: 20px;
                        left: 0px;
                    }
                }
                p.rejection_text{
                    color: #FF2424;
                    position: relative;
                    padding-left: 25px;
                    &::before{
                        position: absolute;
                        content: '';
                        background: url(/icons/close.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        width: 20px;
                        height: 20px;
                        left: 0px;
                    }
                }
                p.reviewed_text{
                    color: #CEE730;
                    position: relative;
                    padding-left: 25px;
                    &::before{
                        position: absolute;
                        content: '';
                        background: url(/icons/alert.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        width: 20px;
                        height: 20px;
                        left: 0px;
                    }
                }
                p.views{
                    position: relative;
                    padding-left: 25px;
                    &::before{
                        position: absolute;
                        content: '';
                        background: url(/icons/visibility.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        width: 20px;
                        height: 20px;
                        left: 0px;
                    }
                }
                p.like{
                    position: relative;
                    padding-left: 25px;
                    button{
                        position: absolute;
                        background: url(/icons/like.png);
                        background-size: contain !important;
                        background-repeat: no-repeat !important;
                        background-position: center !important;
                        width: 20px;
                        height: 20px;
                        left: 0px;
                        border: none !important;
                        border-radius: 0px !important;
                        box-shadow: 0px 0px 0px !important;
                        transition: all 0.3s ease-in-out;
                    }
                }
                p.dislike{
                    position: relative;
                    padding-left: 25px;
                    button{
                        position: absolute;
                        background: url(/icons/dislike.png);
                        background-size: contain !important;
                        background-repeat: no-repeat !important;
                        background-position: center !important;
                        width: 20px;
                        height: 20px;
                        left: 0px;
                        border: none !important;
                        border-radius: 0px !important;
                        box-shadow: 0px 0px 0px !important;
                        transition: all 0.2s ease-in-out;
                    }
                }
                p.answers{
                    position: relative;
                    padding-left: 25px;
                    &::before{
                        position: absolute;
                        content: '';
                        background: url(/icons/message.png);
                        background-size: contain !important;
                        background-repeat: no-repeat !important;
                        background-position: center !important;
                        width: 20px;
                        height: 20px;
                        left: 0px;
                        border: none !important;
                        border-radius: 0px !important;
                        box-shadow: 0px 0px 0px !important;
                        transition: all 0.2s ease-in-out;
                    }
                }
                p.like_answer{
                    position: relative;
                    padding-left: 25px;
                    &::before{
                        position: absolute;
                        content: '';
                        background: url(/icons/users.png);
                        background-size: contain !important;
                        background-repeat: no-repeat !important;
                        background-position: center !important;
                        width: 20px;
                        height: 20px;
                        left: 0px;
                        border: none !important;
                        border-radius: 0px !important;
                        box-shadow: 0px 0px 0px !important;
                        transition: all 0.2s ease-in-out;
                    }
                }
            }
            .questions__list_element_btn{
                text-align: center;
                line-height: 45px;
                margin-left: auto;
                a.btn_questions{
                    color: #fff;
                    padding: 15px 25px;
                    background: #3f3fd9;
                    border-radius: 10px;
                    text-decoration: none;
                    transition: all 0.5s ease-in-out;
                    &:hover{
                        background: #5f5fce;
                    }
                }
                a.btn_answers{
                    color: #fff;
                    padding: 15px 25px;
                    background: #3f3fd9;
                    border-radius: 10px;
                    text-decoration: none;
                    transition: all 0.5s ease-in-out;
                    &:hover{
                        background: #5f5fce;
                    }
                }
                .status_time{
                    font-size: 20px;
                    color: rgb(0 0 0 / 32%);
                    font-weight: 500;
                }
                a{
                    cursor: pointer;
                }
            }
        }
    }
    .questions_menu{
        .questions_menu__buttons{
            .btn{
                text-align: center;
            }
        }
    }   
}


.questions{
    padding: 2em;
    .questions__list{
        padding: 2em;
        .questions__list__element.full{
            display: block !important;
            .questions__list_element_text{
                border-bottom: 1px solid #000;
                margin-bottom: 20px;
            }
            .questions__list_element_text_price{
                justify-content: space-between;
                &_full{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
                    align-items: center;
                    .avatar_owner{
                        background-size: cover !important;
                        background-repeat: no-repeat !important;
                        background-position: center !important;
                        width: 50px;
                        height: 50px;
                        border-radius: 50px;
                    }
                }
                p{
                    margin-bottom: 0px !important;
                }
                .questions__list_element_btn{
                    .btn_questions{
                        pointer-events: none;
                    }
                }
            }
        }
    }
}
